/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 16, 2016, 3:08:07 PM
    Author     : smilin
*/

/*@import url(https://fonts.googleapis.com/css?family=Bree+Serif);*/


/*body {
    background:#ebebeb;
}
ul {
    padding:0 0 0 0;
    margin:0 0 40px 0;
}
ul li {
    list-style:none;
    margin-bottom:10px;
}
ul li img {
    cursor: pointer;
}
.modal-body {
    padding:5px !important;
}
.modal-content {
    border-radius:0;
}
.modal-dialog img {
    text-align:center;
    margin:0 auto;
}
.controls{
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;
}
.next {
    float:right;
    text-align:right;
}
.text {
    font-family: 'Bree Serif';
    color:#666;
    font-size:11px;
    margin-bottom:10px;
    padding:12px;
    background:#fff;
}*/

/*  Bootstrap Clearfix */
/* Borrowed from: http://www.bluthemes.com/blog/3/clearing-bootstrap-3-columns*/

/*override modal for demo only*/
/*.modal-dialog {
    max-width:500px;
}*/

/*@media screen and (min-width: 768px){
    .modal-dialog {
        width:500px;
    }
}

@media screen and (max-width: 380px){
    .col-xxs-12 {
        width:100%;
    }
    .col-xxs-12 img {
        width:100%;
    }
}*/
  
/*  phone  */
@media (min-width:480px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-xs-1:nth-child(12n+1),
  .col-xs-2:nth-child(6n+1),
  .col-xs-3:nth-child(4n+1),
  .col-xs-4:nth-child(3n+1),
  .col-xs-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Tablet  */
@media (min-width:768px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-xs-1:nth-child(12n+1),
  .col-xs-2:nth-child(6n+1),
  .col-xs-3:nth-child(4n+1),
  .col-xs-4:nth-child(3n+1),
  .col-xs-6:nth-child(2n+1){
    clear: none;
  }
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Medium Desktop  */
@media (min-width:992px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1),
  .col-xs-1:nth-child(12n+1),
  .col-xs-2:nth-child(6n+1),
  .col-xs-3:nth-child(4n+1),
  .col-xs-4:nth-child(3n+1),
  .col-xs-6:nth-child(2n+1){
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Large Desktop  */
@media (min-width:1200px){

  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1),
  .col-xs-1:nth-child(12n+1),
  .col-xs-2:nth-child(6n+1),
  .col-xs-3:nth-child(4n+1),
  .col-xs-4:nth-child(3n+1),
  .col-xs-6:nth-child(2n+1){
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1){
    clear: left;
  }
}

/*input:focus { outline: none; }
input:required:invalid { border: 1px solid red; background: rgba(255,0,0,0.2); }
input:required:valid { border: 1px solid grey; }
input { width:20em; font-family: courier; font-size: 16px; }

.required { border: 3px solid rgb(40, 200, 40); border-width: 0 3px; }
.optional { border: 3px solid rgb(200, 215, 255); border-width: 0 3px; }

#arguments { border: 1px solid grey; border-left: none; border-right: none; margin-top: 1em;}
#arguments div { padding-left: 1em; padding-bottom: 1em; }
#arguments div * { margin: 0; margin-top: 0.2em;}
#arguments div + div { border-top: 1px solid grey; padding-top: 1em; }
#arguments div label { margin-right: 1em; font-weight: bold; font-family: Arial; }*/