<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Country Info</title>

        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="stylesheets/gallery.css" rel="stylesheet">

        <script src="javascripts/angular.js"></script>
    </head>
    <body ng-app="ngCountryApp" ng-controller="ngCountryCntr">

        <header>
            <div class="container-fluid">
                <div class="page-header">
                    <h3 style="text-align: center">{{countryHeader}} Information</h3>
                </div>
                <form id="query-area-form" class="navbar-form navbar-right">
                    <div class="form-group">
                        <input ng-model="countryName" form="query-area-form" class="form-control" type="search" name="area-name" id="area-query-input" placeholder="Search for Country" required>
                        <button ng-click="getCountryInfo(countryName)" form="query-area-form" id="area-query-button" type="submit" class="btn btn-success">Go</button>
                    </div>
                </form>
                <div class="btn-group navbar-left" role="group" aria-label="...">
                    <button ng-click="getCountryInfo('England')" value="England" id="englandButton" type="button" class="btn btn-default country">England</button>
                    <button ng-click="getCountryInfo('France')" value="France" id="franceButton" type="button" class="btn btn-default country">France</button>
                    <button ng-click="getCountryInfo('Greece')" value="Greece" id="greeceButton" type="button" class="btn btn-default country">Greece</button>
                    <button ng-click="getCountryInfo('Italy')" value="Italy" id="italyButton" type="button" class="btn btn-default country">Italy</button>
                    <button ng-click="getCountryInfo('Spain')" value="Spain" id="spainButton" type="button" class="btn btn-default country">Spain</button>
                </div>
            </div> 
        </header>

        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="jumbotron" id="jumbotronAreaImage">

                            <div>
                                <img class="img-responsive center-block img-rounded" id="imgCountry">
                            </div>
                            <div style="margin-top: 10px" id="imgControlsDiv">
                                <a style="float: left" class="controls next btn btn-default" href="#" role="button">
                                    next
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                </a>
                                <a style="float: right" class="controls previous btn btn-default" href="#" role="button">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    prev
                                </a>
                            </div>

                        </div>
                        <div class="jumbotron" id="countryInfo">
                            <ul id="area-info-ul" class="list-group">
                                <li class="list-group-item" ng-repeat="countryInfo in countryInfoList">{{countryInfo}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer></footer>

        <script src="javascripts/jquery-2.2.2.js"></script>
        <script src="bootstrap/js/bootstrap.js"></script>

        <script src="javascripts/utility.js"></script>
        <script src="javascripts/gallery.js"></script>
        <script src="javascripts/flickr.js"></script>
        <script src="javascripts/country.js"></script>

        <script>$(document).ready(Website.Country.main);</script>

    </body>
</html>