<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Country Info</title>

        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <script src="javascripts/jquery-2.2.2.js"></script>
        <script src="bootstrap/js/bootstrap.js"></script>
        <!--<script src="javascripts/jquery.imagemapster.js"></script>-->
        <script src="javascripts/jquery.rwdImageMaps.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

        <script src="javascripts/angular.js"></script>

        <link href="stylesheets/country.css" rel="stylesheet">

    </head>
    <body ng-app="ngCountryApp" ng-controller="ngCountryCntr">

        <header>
            <div class="container-fluid">
                <div class="page-header">
                    <h3 style="text-align: center">{{countryHeader}}</h3>
                </div>
                <form id="query-area-form" class="navbar-form navbar-right">
                    <div class="form-group">
                        <input ng-model="countryName" form="query-area-form" class="form-control" type="search" name="area-name" id="inputAreaQuery" placeholder="Search for Country" required>
                        <button ng-click="getCountryInfo(countryName)" form="query-area-form" id="area-query-button" type="submit" class="btn btn-success">Go</button>
                    </div>
                </form>
                <div class="btn-group navbar-left" role="group" aria-label="...">
                    <button ng-click="getCountryInfo('USA')" value="USA" id="englandButton" type="button" class="btn btn-default country">USA</button>
                    <button ng-click="getCountryInfo('Brazil')" value="Brazil" id="greeceButton" type="button" class="btn btn-default country">Brazil</button>
                    <button ng-click="getCountryInfo('France')" value="France" id="franceButton" type="button" class="btn btn-default country">France</button>
                    <button ng-click="getCountryInfo('Egypt')" value="Egypt" id="italyButton" type="button" class="btn btn-default country">Egypt</button>
                    <button ng-click="getCountryInfo('India')" value="India" id="spainButton" type="button" class="btn btn-default country">India</button>
                    <button ng-click="getCountryInfo('Australia')" value="Australia" id="spainButton" type="button" class="btn btn-default country">Australia</button>
                    <button value="newCountry" id="buttonToggleNewCountryForm" type="button" class="btn btn-default">Create New Country</button>
                </div>
            </div> 
        </header>

        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div style="display: none" class="jumbotron" id="jumbotronNewCountryForm">
                            <form id="formInsertNewCountry" method="post">
                                <div class="form-group">
                                    <label for="inputAreaName">Country Name</label>
                                    <input type="text" class="form-control" id="inputAreaName" placeholder="Country" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputFlickrQryTxt">Query for Image Search</label>
                                    <input type="text" class="form-control" id="inputFlickrQryTxt" placeholder="Image Search Text">
                                </div>
                                <div class="form-group">
                                    <label for="inputCountryInfo">Country Information</label>
                                    <textarea id="inputCountryInfo" class="form-control" rows="3" placeholder="Country Information"></textarea>
                                </div>
                                <button id="buttonInsertNewCountry" form="formInsertNewCountry" type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </div>
                        <div class="jumbotron">
                            <img id="worldMapImage" class="fullWidth img-responsive img-rounded" src="images/world-map.gif" usemap="#world-map">
                            <map name="world-map">
                                <area id="area_USA" name="USA"  title="USA"
                                      ng-click="getCountryInfo('USA')" data-toggle="tooltip" onclick="return false"  shape="poly" 
                                      coords="143,279,248,277,300,305,332,283,341,297,294,382,237,376,150,340,146,278">
                                <area id="area_Brazil" name="Brazil" title="Brazil" 
                                      ng-click="getCountryInfo('Brazil')" data-toggle="tooltip" onclick="return false"  shape="poly" 
                                      coords="317,491,333,457,358,449,367,460,392,451,453,486,387,580,371,568,382,553,341,496,326,502,316,490">
                                <area id="area_France" name="France" title="France" 
                                      ng-click="getCountryInfo('France')" data-toggle="tooltip" onclick="return false" shape="poly" 
                                      coords="545,280,570,266,588,278,584,302,571,310,555,304,545,280">
                                <area id="area_Egypt" name="Egypt" title="Egypt" 
                                      ng-click="getCountryInfo('Egypt')" data-toggle="tooltip" onclick="return false"  shape="poly" 
                                      coords="644,350,645,391,679,392,681,384,676,355,645,352">
                                <area id="area_India" name="India" title="India" 
                                      ng-click="getCountryInfo('India')" data-toggle="tooltip" onclick="return false"  shape="poly" 
                                      coords="813,341,788,385,818,436,857,388,854,373,827,365,829,338,814,340">
                                <area id="area_Australia" name="Australia" title="Australia" 
                                      ng-click="getCountryInfo('Australia')" data-toggle="tooltip" onclick="return false"  shape="poly" 
                                      coords="938,540,1009,498,1015,516,1030,521,1035,496,1074,554,1053,626,1002,577,944,590,939,539">
                            </map>                        
                        </div>
                        <div style="display: none" class="jumbotron" id="jumbotronAreaImage">

                            <div>
                                <img class="img-responsive center-block img-rounded fullWidth" id="imgCountry">
                            </div>
                            <div style="margin-top: 10px" id="imgControlsDiv">
                                <a style="float: left" class="controls next btn btn-default" href="#" role="button">
                                    next
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                </a>
                                <a style="float: right" class="controls previous btn btn-default" href="#" role="button">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    prev
                                </a>
                            </div>

                        </div>
                        <div style="display: none" class="jumbotron" id="jumboTronCountryInfo">
                            <h3 id="h3CountryInfo" style="text-align: center">{{countryHeader}} Information</h3>
                            <ul id="area-info-ul" class="list-group">
                                <li class="list-group-item" ng-repeat="countryInfo in countryInfoList">{{countryInfo}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer></footer>

        <script src="javascripts/utility.js"></script>
        <script src="javascripts/gallery.js"></script>
        <script src="javascripts/flickr.js"></script>
        <script src="javascripts/country.js"></script>

        <script>
                                            $(document).ready(function (e) {
                                                $('#worldMapImage').rwdImageMaps();
                                                $('#area_USA').tooltip({track: true});
                                                $('#area_Brazil').tooltip({track: true});
                                                $('#area_France').tooltip({track: true});
                                                $('#area_Egypt').tooltip({track: true});
                                                $('#area_India').tooltip({track: true});
                                                $('#area_Australia').tooltip({track: true});
                                                Website.Country.main();
                                            });
        </script>

    </body>
</html>